<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color:cornflowerblue">   
  <div class="collapse navbar-collapse" style="border-top:none" id="navbarNav">
    <ul class="navbar-nav">
      <li class="" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" [routerLink]="['/']">Home</a>
      </li>
      <li class="" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" [routerLink]="['/import']">Import Data</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" [routerLink]="['/products']">Products Stock</a>
      </li>
    </ul>
  </div>
</nav>


